{{- if .os.wsl -}}
(( $+commands[winget.exe] )) && \
	WINGET="$(which winget.exe)" || \
	WINGET="$HOME/win/AppData/Local/Microsoft/WindowsApps/winget.exe"
export WINGET

(( $+commands[cmd.exe] )) && \
	CMD="$(which cmd.exe)" || \
	CMD="/mnt/c/Windows/system32/cmd.exe"
export CMD

export WIN_HOME="$(wslpath $(${CMD} /c "<nul set /p=%UserProfile%" 2>/dev/null))"
# check if symlink exists
[ -L "${HOME}/win" ] && [ -e "${HOME}/win" ] || \
	ln -s "${WIN_HOME}" "${HOME}/win"
{{- end -}}
