#!/usr/bin/env zsh

[ -f /etc/os-release ] && source /etc/os-release || \
	PRETTY_NAME="Unknown POSIX"
ZSH_NAME="$(zsh --version | sed 's/ (.*//g')"
KERNEL_VERSION="$(uname -r)"
DELIM="  "

if [[ "${NAME}" == "Arch Linux" ]]; then
	LOGO="󰣇"
else
	LOGO=""
	echo -e "${DELIM}Dotfiles only officially supported on Arch Linux and its derivatives"
	echo -e "${DELIM}Some packages and features may be limited\n" 
fi

chezmoi verify && echo -e "󰚰${DELIM}Dotfiles Update Available!"
echo -e "${DELIM}${ZSH_NAME}"
echo -e "${LOGO}${DELIM}${PRETTY_NAME}"
echo -e "${DELIM}Linux [${KERNEL_VERSION}]"

# vim: ft=zsh
