#!/usr/bin/env zsh
# Universal pkg command

{{ if eq .chezmoi.os "linux" }}
if (( $+commands[dpkg] )); then
	PKG="dpkg"
	(( $+commands[apt] )) && PKG="apt"
	(( $+commands[apt-get] )) && PKG="apt-get"
	(( $+commands[nala] )) && PKG="nala"
elif (( $+commands[rpm] )); then
	PKG="rpm"
	(( $+commands[yum] )) && PKG="yum" 
	(( $+commands[dnf] )) && PKG="dnf"
	(( $+commands[zypper] )) && PKG="zypper"
fi
{{ else if eq .chezmoi.os "freebsd" }}
(( $+commands[pkg] )) && PKG="pkg"
{{ else if eq .chezmoi.os "openbsd" }}
(( $+commands[pkg_add] )) && PKG="pkg_add"
{{ else }}	
(( $+commands[pkg] )) && PKG="pkg" || exit 1
{{ end }}

PKG="$(which "$PKG")"
{{ if eq .chezmoi.uid "0" }}
$PKG $*
{{ else }}
SUPER="su - -c"
(( $+commands[sudo] )) && SUPER="sudo"
(( $+commands[doas] )) && SUPER="doas"
$SUPER $PKG $*
unset SUPER
{{ end }}
unset OS PKG

# vim: ft=zsh
