{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your Name" -}}
{{- $domain := promptStringOnce . "domain" "Your Domain" -}}
{{- $host_choices := list "desktop" "laptop" "server" "termux" -}}
{{- $host_type := promptChoiceOnce . "host_type" "Host Type" $host_choices -}}
{{- $use_gui := promptBoolOnce . "use_gui" "Will this machine be used Graphically" -}} 
{{- if ($use_gui) -}}
{{- $theme_choices := list "nord" "dracula" -}}
{{- $theme_type := promptChoiceOnce . "theme_type" "Color Theme" $theme_choices -}}
{{- end -}}

{{/* find superuser command */}}
{{- $dummy := set . "super" false -}}
{{- if (index (lookPath "sudo")) -}}
  {{- $dummy := set . "super" (lookPath "sudo") -}}
{{- else if (index (lookPath "doas")) -}}
  {{- $dummy := set . "super" (lookPath "doas") -}}
{{- else if (index (lookPath "su")) -}}
  {{- $dummy := set . "super" (lookPath "su" | printf "%s - -c") -}}
{{- end -}}
{{/* find distro */}}
{{- $dummy := set . "distro" .chezmoi.os -}}
{{/* most reliable way to detect termux */}}
{{- if (.chezmoi.homeDir | contains "com.termux") -}}
  {{- $dummy := set . "distro" "termux" -}}
{{- else if (index .chezmoi.osRelease "id" ) -}}
  {{- $dummy := set . "distro" .chezmoi.osRelease.id -}}
{{- end -}}
{{/* find if wsl */}}
{{- $dummy := set . "wsl" false -}}
{{- if (and (eq .chezmoi.os "linux") (index .chezmoi.kernel "osrelease")) -}} 
  {{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
    {{- $dummy := set . "wsl" true -}}
  {{- end -}}
{{- end -}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
domain = {{ $domain | quote }}
use_gui = {{ $use_gui }}
{{ if ($use_gui) }}
[data.gui]
color_theme = {{ $theme_type | quote }}
{{ end }}
[data.os]
distro = {{ .distro | quote }}
super = {{ 
   if (or (eq .distro "termux") (not .super)) -}}
     ''
{{- else -}}
  {{ .super | quote }}
{{- end }}
wsl = {{ .wsl }}

[data.style]
os_color = {{
   if (eq .distro "termux") -}}
     'bold green'
{{- else -}}
     'blue'
{{- end }}

[git]
autoCommit = true
autoPush = true
