{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your Name" -}}
{{- $domain := promptStringOnce . "domain" "Your Domain" -}}
{{- $host_choices := list "desktop" "laptop" "server" "termux" -}}
{{- $host := promptChoiceOnce . "host" "Host Type" $host_choices -}}
{{- $use_gui := promptBoolOnce . "use_gui" "Will this machine be used Graphically" -}} 
{{- $color_mode_choices := list "dark" "light" -}}
{{- $color_mode := promptChoiceOnce . "color_mode" "Color Mode" $color_mode_choices -}}
{{- $color_scheme_choices := list "nord" "dracula" "gruvbox"  -}}
{{- $color_scheme := promptChoiceOnce . "color_scheme" "Color Theme" $color_scheme_choices -}}

{{/* find superuser command */}}
{{- $dummy := set . "super" false -}}
{{- if (index (lookPath "sudo")) -}}
  {{- $dummy := set . "super" (lookPath "sudo") -}}
{{- else if (index (lookPath "doas")) -}}
  {{- $dummy := set . "super" (lookPath "doas") -}}
{{- else if (index (lookPath "su")) -}}
  {{- $dummy := set . "super" (lookPath "su" | printf "%s - -c") -}}
{{- end -}}
{{/* find distro */}}
{{- $dummy := set . "distro" .chezmoi.os -}}
{{/* most reliable way to detect termux */}}
{{- if (.chezmoi.homeDir | contains "com.termux") -}}
  {{- $dummy := set . "distro" "termux" -}}
{{- else if (index .chezmoi.osRelease "id" ) -}}
  {{- $dummy := set . "distro" .chezmoi.osRelease.id -}}
{{- end -}}
{{/* find if wsl */}}
{{- $dummy := set . "wsl" false -}}
{{- if (and (eq .chezmoi.os "linux") (index .chezmoi.kernel "osrelease")) -}} 
  {{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
    {{- $dummy := set . "wsl" true -}}
  {{- end -}}
{{- end -}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
domain = {{ $domain | quote }}
use_gui = {{ $use_gui }}

[data.os]
distro = {{ .distro | quote }}
super = {{ 
   if (or (eq .distro "termux") (not .super)) -}}
     ''
{{- else -}}
  {{ .super | quote }}
{{- end }}
wsl = {{ .wsl }}

[data.style]
color_mode = {{ $color_mode | quote }}
color_scheme = {{ $color_scheme | quote }}
os_color = {{
   if (eq .distro "termux") -}}
     'bold green'
{{- else -}}
     'blue'
{{- end }}

[git]
autoCommit = true
autoPush = true
