{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your Name" -}}
[data]
email = {{ $email | quote }}
name = {{ $name | quote }}

[data.style]
{{- if eq .chezmoi.os "freebsd" }}
os_color = 'red'
{{- else if eq .chezmoi.os "openbsd" }}
os_color = 'yellow'
{{- else }}
os_color = 'blue'
{{- end }}

[data.os]
{{- if (.chezmoi.homeDir | contains "com.termux") -}}
termux = true
{{- else }}
termux = false 
{{- end }}

[git]
autoCommit = true
autoPush = true
