#!{{ lookPath "bash" }}
source '{{ .chezmoi.sourceDir }}/.assets/include.sh'

if [[ "$SHELL" != "$(which zsh)" ]]; then
	_log_debug "shell is not set to zsh"
	_log_info "setting shell to zsh"
	chsh -s "$(which zsh)"
fi

{{ if .os.wsl }}
if [ -d "$HOME/win/.ssh" ]; then
	_log_info "copying windows ssh keys"
	if ls $HOME/.ssh/id* 1> /dev/null 2>&1; then
		_log_debug "ssh keys already exist"
	else
		cp $HOME/win/.ssh/id* $HOME/.ssh/
	fi
	chmod 700 $HOME/.ssh/id*
	chmod 755 $HOME/.ssh/id*.pub
else
	_log_debug "windows ssh keys not found"
fi
{{ else }}
if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
	_log_info "generating ssh keys"
	ssh-keygen -t ed25519
else
	_log_debug "ssh keys already exist"
fi
{{ end }}

exit 0
