#!{{ lookPath "bash" }}
source '{{ .chezmoi.sourceDir }}/.assets/include.sh'

# Python
if cmd_check python3; then
	PYTHON_3="{{ lookPath "python3" }}"
	PYTHON="$(dirname "$PYTHON_3")/python"
	if ! cmd_check python; then
		log_info "Setting python default to: '${PYTHON_3}'"
		{{ .os.super }} update-alternatives --install $PYTHON python $PYTHON_3 1
	fi
fi

# Shell
if [[ "$SHELL" != "$(which zsh)" ]]; then
	log_debug "Shell is not set to ZSH"
	log_info "Setting shell to ZSH"
	chsh -s "$(which zsh)"
fi

# SSH
{{ if .os.wsl }}
if [ -d "$HOME/win/.ssh" ]; then
	log_debug "Windows SSH keys not found"
else
	log_info "Copying Windows SSH keys"
	for i in $HOME/win/.ssh/id*; do
		name=`basename $i`
		[ -f "$HOME/.ssh/$name" ] && continue
		log_info "Copying $name from Windows .ssh"
		cp $i $HOME/.ssh/
	done
	log_info "Updating Permissions"
	chmod 700 $HOME/.ssh/id*
	chmod 750 $HOME/.ssh/id*.pub
fi
{{ else }}
if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
	log_info "Generating ed25519 SSH keypair"
	ssh-keygen -t ed25519
fi
{{ end }}

exit 0
