#!{{ lookPath "bash" }}
source '{{ .chezmoi.sourceDir }}/.assets/include.sh'
set -eu

_pkg_add() {
	local cmd="$1"
	[ -z ${2+x} ] && local pkg="$cmd" || local pkg="$2"
	if ! _cmd_check $cmd; then
		PACKAGES+="$pkg "
		_log_info "going to install '${pkg}'"
	else
		_log_info "skipping '${pkg}'"
	fi
}

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

# Make blank so test works
MGR=''
PACKAGES=''

# COMMANDS
_pkg_find_all() {
	_pkg_add htop
	_pkg_add cmake
	_pkg_add curl
	_pkg_add vim
	_pkg_add zsh
	if [ "$MGR" == "dpkg" ]; then
		_pkg_add python3 "python3 python3-pip"
		_pkg_add gcc build-essential
	fi
}

# DEBIAN
if _cmd_check dpkg; then
	_log "dpkg found"
	MGR='dpkg'
	if ! command -v nala >/dev/null; then
		_log "installing nala"
        	echo "deb [arch=amd64,arm64,armhf] http://deb.volian.org/volian/ scar main" | {{ .os.super }} tee /etc/apt/sources.list.d/volian-archive-scar-unstable.list
        	wget -qO - https://deb.volian.org/volian/scar.key | {{ .os.super }} tee /etc/apt/trusted.gpg.d/volian-archive-scar-unstable.gpg >"/dev/null"
        	{{ .os.super }} apt-get update >"/dev/null"
        	{{ .os.super }} apt-get python3 >"/dev/null"
		# this is a really crappy work around 
		[[ $(python3 -V | awk '{print$2}' | awk -F '.' '{print $2}') -ge 10 ]] && NALA="nala" || NALA="nala-legacy"
		{{ .os.super }} apt-get install -y "${NALA}" >"/dev/null"
	fi
	_log "searching for packages"
	_pkg_find_all
	if [ ! -z "${PACKAGES}" ]; then
		_log "installing packages..."
		sleep 1
		{{ .os.super }} nala install -y ${PACKAGES}
		_log "packages installed"
	fi
else
	_log_warn "package manager could not be identified"
fi

unset PACKAGES
