#!{{ lookPath "bash" }}
export LC_ALL=C.UTF-8
export LANG=C.UTF-8
set -eu
{{  include ".assets/include.sh" -}}
{{  template "install-pkg.sh.tmpl" . -}}
{{- if .use_gui -}}
{{  template "install-gui.sh.tmpl" . -}}
{{- end -}}
{{- if eq .os.distro "arch" -}}
{{  template "install-archlinux.sh.tmpl" . -}}
{{- end -}}
{{  template "install-manual.sh.tmpl" . -}}
{{  template "install-finalise.sh.tmpl" . -}}
