{{  template "header.sh.tmpl" . -}}
# vim: ft=bash

log_info "Installing pre-requisites"

if ! cmd_check pacman; then
	log_warn "'pacman' not found, skipping installation"
	exit 0
fi

if ! cmd_check paru; then
	CLONE="${HOME}/.local/clone"
	log_info "'paru' not found, installing!"
	mkdir -p "${CLONE}"
	git clone 'https://aur.archlinux.org/paru.git' "${CLONE}/paru"
	cd "${CLONE}/paru"
	makepkg -si
	cd -
	rm -rf "${CLONE}/paru"
else
	log_debug "'paru' found!"
fi

{{ if eq .chezmoi.uid "0" }}
log_warn "Cannot install packages as root!"
{{ else }}
paru -S --needed \
{{- if .use_gui -}}
	adobe-source-han-sans-cn-fonts \
	adobe-source-han-sans-hk-fonts \
	adobe-source-han-sans-jp-fonts \
	adobe-source-han-sans-kr-fonts \
	adobe-source-han-sans-tw-fonts \
	gnome-shell-extension-blur-my-shell \
	gtk-engine-murrine \
	qgnomeplatform-qt5 \
	qgnomeplatform-qt6 \
	ttf-ancient-fonts \
	ttf-liberation \
	ttf-roboto \
	xsel \
	python-pillow \
{{- end }}
	bat \
	cmake \
	curl \
	deno \
	diff-so-fancy \
	git \
	go \
	htop \
	joshuto-bin \
	jq \
	massren \
	neovim \
	starship \
	unimatrix \
	wget \
	zsh || true
{{ end }}

exit 0
