{{- if eq .chezmoi.os "Windows" -}}
{{-   template "windows/run/run_before_00.ps1.tmpl" . -}}
{{- else if eq .chezmoi.os "linux" -}}
eval '{{ .chezmoi.sourceDir }}/.assets/include.sh'
{{-   template "linux/run/run_before_00-install-package-mgr.sh.tmpl" . -}}
{{-   template "linux/run/run_before_01-install-manual.sh.tmpl" . -}}
{{-   template "linux/run/run_before_99-finalise.sh.tmpl" . -}}
{{- end -}}
