#!{{ lookPath "bash" }}
export LC_ALL=C.UTF-8
export LANG=C.UTF-8
set -eu
{{	include ".assets/include.sh" -}}
{{	template "install-pkg.sh.tmpl" . -}}
{{ 	template "install-manual.sh.tmpl" . -}}
{{	template "install-finalise.sh.tmpl" . -}}
