Host git.hrlou.net
        Hostname git.hrlou.net
        User git
	Port 2052
{{ if eq .domain "hrlou.net" }}
Host edge edge.hrlou.net
	Hostname 10.0.1.2
	User root

Host ipa ipa.hrlou.net
	Hostname 10.0.2.3
	User root

Host mc mc.hrlou.net
	Hostname 10.0.2.64
	User minecraft
{{- end }}
