include themes/{{ .style.color_scheme }}.conf
wayland_titlebar_color system 
background_opacity	0.85
dynamic_background_opacity yes
linux_display_server x11
font_family FantasqueSansM Nerd Font Regular
