call plug#begin()

Plug 'alker0/chezmoi.vim'
Plug 'cespare/vim-toml'
Plug 'sainnhe/sonokai'
Plug 'dracula/vim', { 'as': 'dracula' }
Plug 'nordtheme/vim', { 'as': 'nord' }
Plug 'morhetz/gruvbox'

call plug#end()

set bg=dark
colorscheme {{ .style.color_scheme }}
set relativenumber
highlight clear LineNr
highlight LineNr ctermfg=59 
