if cmd_check pacman && ! cmd_check yay; then
	mkdir -p ~/.local/cache
	git clone https://aur.archlinux.org/yay.git ~/.local/cache/yay
	cd ~/.local/cache/yay
	makepkg -si
	cd -
	rm -rf ~/.local/cache/yay
fi

yes | yay -S --needed \
       	python-pillow \
	gtk-engine-murrine \
	gnome-shell-extension-blur-my-shell \
	qgnomeplatform-qt5-git \
	qgnomeplatform-qt6-git \
	nnn-nerd
