if ! cmd_check starship; then
	log_info "Installing Starship..."
	curl -sS https://starship.rs/install.sh | {{ .os.super }} sh -s -- -y >/dev/null && \
		log_info "Starship installed" || log_err "Starship not installed"
fi

if cmd_check vim; then
	log_info "Setting up vim..."
	vim \
		-c 'PlugInstall' \
		-c 'PlugClean' \
		-c 'qa!'
fi

# Install Yay on Arch
if cmd_check pacman && ! cmd_check yay; then
	mkdir -p ~/.local/cache
	git clone https://aur.archlinux.org/yay.git ~/.local/cache/yay
	cd ~/.local/cache/yay
	makepkg -si
	cd -
	rm -rf ~/.local/cache/yay
fi

# Install Icons
if [ -d "${HOME}/.themes/colloid" ]; then
	local icons="/usr/share/icons"
	if [ ! -d "${icons}/Colloid-dracula" ]; then
		{{ .os.super }} ~/.themes/colloid/install.sh -s dracula 
		gtk-update-icon-cache
	fi
	gsettings set org.gnome.desktop.interface icon-theme "Colloid-dracula-dark"
fi
