if cmd_check pacman && ! cmd_check paru; then
	mkdir -p ~/.local/cache/paru
	git clone https://aur.archlinux.org/paru.git ~/.local/cache/paru
	cd ~/.local/cache/paru
	makepkg -si
	cd -
	rm -rf ~/.local/cache/paru
fi

{{ if eq .chezmoi.uid "0" }}
log_warn "Cannot install packages as root!"
{{ else }}
paru -S --needed \
       	python-pillow \
	gtk-engine-murrine \
	gnome-shell-extension-blur-my-shell \
	qgnomeplatform-qt5-git \
	qgnomeplatform-qt6-git \
	nnn-nerd \
	ttf-liberation \
	ttf-roboto \
	massren \
	adobe-source-han-sans-cn-fonts \
	adobe-source-han-sans-tw-fonts \
	adobe-source-han-sans-hk-fonts \
	adobe-source-han-sans-jp-fonts \
	adobe-source-han-sans-kr-fonts \
	ttf-ancient-fonts \
	unimatrix || \
	true
massren --config editor "nvim"
{{ end }}
# vim: ft=bash

