format = '''
[┌─ ](bold green)$username@$hostname:$directory
[└─>](bold green) '''
add_newline = false

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

[package]
disabled = true

[directory]
read_only=' 🔒'
style='blue bold'
truncation_length = 4
truncation_symbol = '…/'

[hostname]
style = 'blue'
ssh_only = false
format = '[$hostname]($style)'
trim_at = '.hrlou.net'
disabled = false

[username]
style_user = 'red'
style_root = 'black bold'
format = '[$user]($style)'
disabled = false
show_always = true
